<!-- @format -->

{% load static %}
<header>
  <nav class="flex mx-auto items-center justify-between bg-slate-200/50 shadow-md">
    <!--Logo-->
    <div>
      <a href="{% url 'course_list' %}" class="mx-8 text-3xl font-bold">EDUCA</a>
    </div>
    <!--MENU-->
    <div class="mx-8">
      {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}" class="font-semibold text-red-500 uppercase">sign out</a>
      {% else %}
      <a href="{% url 'login' %}" class="font-semibold uppercase">sign in</a>
      {% endif %}
    </div>
  </nav>
</header>
